include COPYRIGHT.txt
include LICENSE.txt
include vendor/duk_config.h
include vendor/duktape.h
include vendor/duktape.c
include vendor/duk_module_duktape.c
include vendor/duk_module_duktape.h
include vendor/duk_print_alert.c
include vendor/duk_print_alert.h
include vendor/AUTHORS.txt
include vendor/LICENSE.txt
